
* {
    box-sizing: border-box;
}
#container {
	width: 600px;
	height: 500px;
	background: -moz-linear-gradient(-45deg, rgb(169,3,41) 0%, rgb(143,2,34) 44%, rgb(109,0,25) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(169,3,41) 0%,rgb(143,2,34) 44%,rgb(109,0,25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
-webkit-box-shadow: 0px 2px 25px -1px rgba(5,5,5,1);
-moz-box-shadow: 0px 2px 25px -1px rgba(5,5,5,1);
box-shadow: 0px 2px 25px -1px rgba(5,5,5,1);
	border-radius: 30px;
	padding: 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	background-image: url("https://media.gettyimages.com/vectors/wood-textured-background-with-lines-vector-id469806788?b=1&k=6&m=469806788&s=612x612&w=0&h=O7fqajVHUIqntDR5BpasJv4dJmS4r5VGMxOUTLYzKyo=");
	background-size:fill;
}
.box {
	background-color: gray;

}
#drawing {
	margin: 0 auto;
	border: 2px groove rgba(0, 0, 0, .5);
	width: 90%;
	height: 80%;
	display: grid;
	margin-top: 20px;
    grid-template-columns: repeat(var(--grid), 1fr);
    grid-template-rows: repeat(var(--grid), 1fr);
	justify-items: stretch;
}
.select {
	background-color: black;
}
.shack { 
	position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  animation: MoveUpDown 1s linear;
}
button {
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin: 10px;
	text-align: center;
	-webkit-box-shadow: 10px 10px 80px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 80px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 80px -10px rgba(0,0,0,0.75);
border: none;
background: -moz-radial-gradient(center, ellipse cover, rgba(192,192,192,1) 0%, rgba(192,192,192,1) 3%, rgba(48,48,48,1) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(192,192,192,1)), color-stop(3%, rgba(192,192,192,1)), color-stop(100%, rgba(48,48,48,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(192,192,192,1) 0%, rgba(192,192,192,1) 3%, rgba(48,48,48,1) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(192,192,192,1) 0%, rgba(192,192,192,1) 3%, rgba(48,48,48,1) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(192,192,192,1) 0%, rgba(192,192,192,1) 3%, rgba(48,48,48,1) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(192,192,192,1) 0%, rgba(192,192,192,1) 3%, rgba(48,48,48,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#303030',GradientType=1 ); /* ie6-9 */
}
#setGrid {
	position: relative;
	float: right;
}
@keyframes MoveUpDown {
  0% {
    bottom: 0;
    display: absolute;
  }
  20% {
    bottom: 100px;
    display: absolute;
  }
  40% {
    bottom: 0;
    display: absolute;
  }
  60% {
    bottom: 100px;
    display: absolute;
  }
  80% {
    bottom: 0;
    display: absolute;
  }
  90%{
  	bottom: 100px;
    display: absolute;
  }
  100%{
  	bottom: 0;
    display: absolute;
  }
}
